<?xml version="1.0"?>
<!--
/**
 * Multiple Flat Rate Shipping
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<sy_developer>
			<contacts>
				<skype>darks_v1rus</skype>
				<telegram>darks_virus</telegram>
				<github>SlavaYurthev</github>
				<marketplace>Slava Yurthev</marketplace>
			</contacts>
		</sy_developer>
		<carriers>
			<sy_multiple_flat_rate_shipping>
				<active>1</active>
				<title><![CDATA[SY Multiple Flat Rate Shipping]]></title>
				<model>SY\MultipleFlatRateShipping\Model\Carrier\Shipping</model>
				<specific_error_msg>This shipping method is not available.</specific_error_msg>
				<sort_order>0</sort_order>
			</sy_multiple_flat_rate_shipping>
		</carriers>
	</default>
</config>